body {

  background: #f0fafa !important;
  overflow-y: scroll;
}

.container {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 3%;
  margin: 3% 10%;
}

ul li {

  list-style: none;
}

.requirement, .selected-requirement {

  border-radius: 8%;
  cursor: pointer;
  font-weight: bold;
  padding: 1%;
  transition: 0.5s;
}

.requirement {
  
  color: #64a29a;
  background-color: #edf6f6;

}

/* .requirement:hover {

  background-color: #5fa4a4;
  color: #edf6f6;
  transition: 0.5s;
} */

.selected-requirement {

  background-color: #5fa4a4;
  color: #edf6f6;
  transition: 0.5s;
}

@media screen and (min-width: 200px) and (max-width: 999px) {
  

  .container {
    gap: 4%;
  } 
}

@media screen and (min-width: 200px) and (max-width: 410px) {
  
  .container {
    
    margin: 15% 10%;
  }
}

@media screen and (min-width: 200px) and (max-width: 500px) {
  
  .requirement, .selected-requirement {

    padding: 2%;
  }
}

@media screen and (min-width: 411px) and (max-width: 700px) {
  
  .container {

    margin: 10%;
  }
  
}

@media screen and (min-width: 701px) and (max-width: 999px) {
  
  .container {

    margin: 5% 10%;
  }
  
}

